<div id="header">
  <div id="container" class="position-relative">
    <button id="menu" class="container_class d-flex border-0 ">
      <span id="hambacon" class="material-symbols-outlined">menu</span>
      <div>Menu</div>
    </button>

    <div id="logo" class="position-absolute top-0 start-50 translate-middle-x">
      <img class="logo-default" src="assets/img/logo-loopnet-red.svg" alt="LoopNet">
    </div>

    <div class="container_class position-absolute top-0 bottom-0 end-0">
      <div id="log_in">Log In</div>
      <div id="sign_up">Sign Up</div>
      <div id="language">
        <img src="assets/svg_icon/language_FILL0_wght100_GRAD-25_opsz48.svg" alt="language">
      </div>
      <div>
        <div id="advertise">Advertise</div>
      </div>
    </div>

  </div>
</div>

<main>
  <section id="main_section" class="d-flex flex-column justify-content-center align-items-center">
    <div>
      <div id="title">
        Find your next commercial property
      </div>
    </div>
    <div id="search">
      <div id="search-types" class="d-flex justify-content-start">
        <div><span>For Lease</span></div>
        <div><span>For Sale</span></div>
        <div><span>Actions</span></div>
        <div><span>Businesses For Sale</span></div>
      </div>
      <div id="search-container">
        <input type="text" placeholder="Enter a property type">
        <input type="text" placeholder="Enter a location" >
        <button>Search</button>
      </div>
      <div class="d-flex justify-content-end">
        <div id="advance-search">Advanced Search ></div>
      </div>
    </div>
  </section>

  <section id="news-wrapper" class="d-flex">
    <div>
      <hr style="color: black">
      <h5>Trends</h5>
      <div>
        <article>
          <div class="news-thumbnail">
            <div id="news-thumbnail-1t"></div>
          </div>
          <div class="news-description">Mall Landlords Increasingly Seek ‘Open Container’ Licenses</div>
        </article>
        <article>
          <div class="news-thumbnail">
            <div id="news-thumbnail-2t"></div>
          </div>
          <div class="news-description">Why Less Space, Longer Term Is the New Strategy for Office Tenants</div>
        </article>
        <article>
          <div class="news-thumbnail">
            <div id="news-thumbnail-3t"></div>
          </div>
          <div class="news-description">The Top 10 Countries Where Individual Investors are Buying Real Estate</div>
        </article>
      </div>
      <hr>
      <h5>Design</h5>
      <div>
        <article>
          <div class="news-thumbnail">
            <div id="news-thumbnail-1d"></div>
          </div>
          <div class="news-description">
            Business That Nurtures Local Entrepreneurs Gets New, Functional Office
          </div>
        </article>
        <article>
          <div class="news-thumbnail">
            <div id="news-thumbnail-2d"></div>
          </div>
          <div class="news-description">
            Toronto Building Bought Through Estate Sale Becomes a Community Hub
          </div>
        </article>
        <article>
          <div class="news-thumbnail">
            <div id="news-thumbnail-3d"></div>
          </div>
          <div class="news-description">
            Modernity Meets History in DC Adaptive Reuse Project
          </div>
        </article>
      </div>
      <hr>
      <h5>Real Estate 101</h5>
      <div>
        <article>
          <div class="news-thumbnail">
            <div id="news-thumbnail-1r"></div>
          </div>
          <div class="news-description">
            My First CRE Investment: How One Entrepreneur (and His Dad) Are Helping Revive a California City
          </div>
        </article>
        <article>
          <div class="news-thumbnail">
            <div id="news-thumbnail-2r"></div>
          </div>
          <div class="news-description">
            5 Multifamily Properties Under $5 Million in Rent Growth Markets
          </div>
        </article>
        <article>
          <div class="news-thumbnail">
            <div id="news-thumbnail-3r"></div>
          </div>
          <div class="news-description">
            What Is a Cap Rate?
          </div>
        </article>
      </div>
    </div>
    <div id="news-wrapper-2" class="d-flex flex-wrap">
      <div>
        <div class="image">
          <div class="news-wrapper-2-content">
            <h4 class="news-wrapper-2-heading">DESIGN</h4>
            <p class="news-wrapper-2-paragraph">In Case You Missed It: August's Top 5 Must Reads</p>
          </div>
        </div>
      </div>
      <div>
        <div class="image">
          <div class="news-wrapper-2-content">
            <h4 class="news-wrapper-2-heading">OFFICE LEASING/BUYING</h4>
            <p class="news-wrapper-2-paragraph">My First CRE Investment: An SBA Loan Helped Turn a Dentist and Her Husband Into Commercial Landlords</p>
          </div>
        </div>
      </div>
      <div>
        <div class="image">
          <div class="news-wrapper-2-content">
            <h4 class="news-wrapper-2-heading">TRENDS</h4>
            <p class="news-wrapper-2-paragraph">A Construction Company Merges Industrial and Scandinavian Aesthetics in Its New Headquarters</p>
          </div>
        </div>
      </div>
      <div>
        <div class="image">
          <div class="news-wrapper-2-content">
            <h4 class="news-wrapper-2-heading">TRENDS</h4>
            <p class="news-wrapper-2-paragraph">CRE Sales Remain Low but Steady. Have We Reached the Bottom of the Cycle?</p>
          </div>
        </div>
      </div>
      <div>
        <div class="image">
          <div class="news-wrapper-2-content">
            <h4 class="news-wrapper-2-heading">OFFICE LEASING/BUYING</h4>
            <p class="news-wrapper-2-paragraph">5 Offices Under $15M: What You Can Buy in The State with the Highest Rent Growth</p>
          </div>
        </div>
      </div>
      <div>
        <div class="image">
          <div class="news-wrapper-2-content">
            <h4 class="news-wrapper-2-heading">RETAIL & RESTAURANT</h4>
            <p class="news-wrapper-2-paragraph">Temporary ‘Retail Village’ is Pivotal During Permitting Phase of Massive Development</p>
          </div>
        </div>
      </div>
      <div class="double-with">
        <div class="image">
          <div class="news-wrapper-2-content">
            <h4 class="news-wrapper-2-heading">RETAIL & RESTAURANT</h4>
            <p class="news-wrapper-2-paragraph">Small Spaces, Big Dreams: Couple Finds Empty Furniture Store Perfect for Pickleball</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div id="more-featured">
    <a href="#">See More Featured Spaces</a>
  </div>

  <section id="last-section" >
    <div class="overlay d-flex justify-content-center align-items-center">
    <div>
      <h2>
        Put the power of the world's largest CRE marketing platform to work for you.
      </h2>
      <button>Explore Advertising Solutions</button>
    </div>
    <div>
      <div>
        <h2>More Exposure</h2>
        <p>
          With 96% of the Fortune 1000 searching LoopNet and over 12 million monthly global unique visitors - you'll reach nearly every qualified prospect searching for space.
        </p>
      </div>
      <div>
        <div>
          <h2>More Impact</h2>
          <p>
            With LoopNet's sophisticated presentation and captivating interactive media solutions your property will stand out online just as much as it does in person, making it easy for searchers to visualize the possibilities.
          </p>
        </div>
      </div>
      <div>
        <div>
          <h2>More Opportunity</h2>
          <p>
            LoopNet captures your next tenant or investor's attention and connects them with you faster, helping you spend less time on the market.
          </p>
        </div>
      </div>
    </div>
    </div>
  </section>
</main>
